
.playerPanel{
    display: flex;
    flex-direction: column;
    align-content:flex-start;
   
    /* margin:auto; */
    /* margin-top: 20px; */ 
}
.playerDetails{
    margin-bottom: 10px;
    display:flex;
    flex-direction: column;
    align-items: center;
    /* animation: fadeIn 10s; */
    
}
.song-details{
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width:80%;
}
.current-song-album{
    font-size: 1.7rem;
    font-weight: 700;
    color: white;
    text-align: left;
}
.current-song-title{
    font-size: 16px;
    color: silver;
    text-align: left;
}
.song_img{
    border-radius: 4px;
    width:80%;
    height:80%;
}

@keyframes fadeIn {
    from {opacity:0;}
    to{opacity:1}
    
}

.player-control{
    display: flex;
    flex-direction: column;
    /* width: 80%; */
    align-items: center;
    /* background-color: aqua; */
}
.progressBar{
    height: 6px;
    margin-bottom: 15px;
    width:80%;
    background-color: black;
}
.control-section{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width:80%;
}
.controls{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width:50%
}
.control-btn{
    font-size: 30px;
    border-radius: 50%;
    background-color: white;
}
.forward , .backward{
    color:silver;
    font-size: 16px;
}
.pause , .play{
    font-size: 33px;
    border-radius: 50%;
    background-color: white;
}
.menu-btn{
    font-size: 24px;
    background-color: rgba(43, 42, 42, 0.877);
    height:40px;
    width:40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color:white;
}
@media screen and (min-width:1200px) {
    .song_img{
        border-radius: 4px;
    width:70%;
    height:70%;
    }
    
    .control-section ,.progressBar , .song-details{
        width:70%;
    }
    
}